[Desktop Entry]
Categories=QT;KDE;GNOME;Utility;Accessibility;Heliox;
Exec=HelioxHelper
GenericName=Heliox Helper
Icon=/usr/share/helioxhelper/icon.png
MimeType=
Name=Heliox Acceso
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
